body {
	background: #f7f7f7;
	font-family: 'Ubuntu', 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
	background: #093782;
	width: 100%;
	height: 48px;
	position: fixed;
	box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
	z-index: 1000;
}

.logo {
	width: 120px;
	margin: 10px 20px;
}

.menu-link {
	color: #fff;
	font-size: 14px;
	margin: 16px 20px;
	text-decoration: none;
}

.menu-link:hover {
	text-decoration: underline;
}

.main-wrap {
	padding: 68px 20px 20px;
}

.main-wrap h2 {
	color: #3a3a3a;
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 20px;
}

.filter {
	color: #909090;
	text-transform: uppercase;
	font-size: 15px;
	margin-bottom: 20px;
}

.video-item {
	width: 100%;
	margin: 0 0 20px;
}

.video-item .info {
	width: 60%;
	max-height: 75px;
	overflow: hidden;
}

.video-item .thumb {
	display: block;
	width: 220px;
	height: 145px;
	margin: 0 15px 0 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 3px;
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease;
}

.video-item .thumb:hover {
	opacity: .8;
}

.video-item .title {
	display: inline-block;
	color: #3a3a3a;
	font-size: 18px;
	margin-bottom: 6px;
	text-decoration: none;
}

.video-item .title:hover {
	text-decoration: underline;
}

.video-item .author {
	color: #909090;
	font-size: 13px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.video-details {
	color: #909090;
	margin-top: 15px;
}

.video-details .user {
	width: 100px;
	font-size: 13px;
	text-align: center;
	margin-right: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.video-details .user .avatar {
	width: 60px;
	margin-bottom: 6px;
	border-radius: 20px;
}

.video-details time {
	display: inline-block;
	font-size: 14px;
	margin-top: 10px;
}

/* Preloader */
.preloader {
	height: 24px;
	width: 24px;
	position: relative;
	top: 100px;
	left: 60px;
	border-width: 3px;
	border-style: solid;
	border-color: #2181cf #eee;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	-webkit-animation: clockwise .6s linear infinite;
	-moz-animation: clockwise .6s linear infinite;
	animation: clockwise .6s linear infinite;
}

@-webkit-keyframes clockwise {
	to { -webkit-transform: rotate(360deg) translateZ(0); }
}

@-moz-keyframes clockwise {
	to { -moz-transform: rotate(360deg) translateZ(0); }
}

@keyframes clockwise {
	to { transform: rotate(360deg) translateZ(0); }
}
